@use '~@mezzanine-ui/system/palette' as mzn-palette;

.root {
  flex: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: mzn-palette.color(surface);
  padding-top: 4px;
  border: 1px solid mzn-palette.color(divider);

  &.big {
    padding-bottom: 28px;
  }

  &.small {
    padding: 4px;
  }

  &.xSmall {
    padding: 1px 3px;
  }

  &.deducted {
    background-color: #075a7d;
  }

  .name {
    width: 100%;
    display: block;
    color: #44bcf0;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    text-align: center;
  }

  .coach {
    color: #44bcf0;

    &.smallCoach {
      margin-top: -3px;
    }

    &.deducted {
      color: mzn-palette.color(secondary);
    }
  }
}
