@use '~@mezzanine-ui/system/palette' as mzn-palette;

.root {
  flex: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: mzn-palette.color(surface);
  padding-top: 4px;
  padding-bottom: 2px;
  border: 1px solid mzn-palette.color(divider);
  gap: 4px;

  &.deducted {
    background-color: #588f57;

    &.isGift {
      background-color: #a26b54;
    }
  }

  &.expired {
    background-color: mzn-palette.color(surface);
  }

  .titleWrapper {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 8px;
    margin-bottom: 2px;

    .time {
      color: #b6ffb5;

      &.isGift {
        color: #fee0b3;
      }

      &.expired {
        color: mzn-palette.color(text-disabled);
      }
    }
  }

  .student {
    color: #b6ffb5;

    &.isGift {
      color: #fee0b3;
    }

    &.deducted {
      color: mzn-palette.color(secondary);
    }

    &.expired {
      color: mzn-palette.color(text-disabled);
    }
  }

  .icon {
    position: absolute;
    bottom: 13px;
  }
}
