.main {
  height: 100%;
  display: grid;
  grid-template-rows: 65px calc(100% - 65px);

  .layout {
    display: grid;
    grid-template-columns: var(--sidebar-width) 1fr;

    .page {
      overflow-y: auto;
      position: relative;
      scroll-behavior: smooth;
      padding: 40px;
    }
  }
}
