@use '~@mezzanine-ui/core' as mzn-core;
@use '~@mezzanine-ui/system' as mzn-system;
@use '~@mezzanine-ui/system/spacing' as mzn-spacing;
@use '~@mezzanine-ui/system/z-index' as mzn-z-index;
@use '~@mezzanine-ui/system/palette' as mzn-palette;

$override-colors: (
  light: (
    // bg: #f4f4f4,
    // border: #d9d9d9,
    // surface:  #fff,
    // divider: #f2f2f2,

    // primary: #26890D,
    // primary-light: #63A951,
    // primary-dark: #1D7706,
    // primary-hover-bg:
    // primary-active-bg:

    // secondary: #53565A,
    // secondary-light: #75787B,
    // secondary-dark: #161616,
    // secondary-hover-bg:
    // secondary-active-bg:

    // error: #DA291C,
    // error-light: #F75142,
    // error-dark: #C12200,
    // error-hover-bg:
    // error-active-bg:

    // warning: #ED8B00,
    // warning-light: #FFCD00,
    // warning-dark: #F07402,
    // warning-hover-bg:
    // warning-active-bg:

    // success: #009A44,
    // success-light: #43BD2A,
    // success-dark: #046A3B,
    // success-hover-bg:
    // success-active-bg:

    // text-primary: #161616,
    // text-secondary: #8F8F8F,
    // text-disabled: #BCBCBC,

    // action-active: #161616,
    // action-inactive: #8F8F8F,
    // action-disabled: #BCBCBC,
    // action-disabled-bg:
  )
);

:root {
  @include mzn-system.common-variables();
  @include mzn-spacing.variables();
  @include mzn-z-index.variables();
  @include mzn-palette.variables("light", $override-colors);

  --mzn-typography-font-family: 'Noto Sans TC', sans-serif;
}

@include mzn-core.styles();
